@import '@angular/material/theming';
@import '@angular/material-experimental/mdc-progress-spinner/progress-spinner-theme';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include mat-mdc-progress-spinner-theme($theme);
@include mat-mdc-progress-spinner-typography(mat-typography-config());
