@import '@angular/material/theming';
@import '@angular/material-experimental/mdc-theming/all-theme';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include mat-mdc-table-theme($theme);
@include mat-mdc-table-typography(mat-typography-config());
