@import '@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
$typography: mat-typography-config();

@include mat-core();

@include mat-button-theme($theme);
@include mat-card-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-chips-theme($theme);
@include mat-form-field-theme($theme);
@include mat-input-theme($theme);
@include mat-menu-theme($theme);
@include mat-progress-bar-theme($theme);
@include mat-radio-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-slider-theme($theme);
@include mat-table-theme($theme);
@include mat-tabs-theme($theme);

@include mat-button-typography($typography);
@include mat-card-typography($typography);
@include mat-checkbox-typography($typography);
@include mat-chips-typography($typography);
@include mat-form-field-typography($typography);
@include mat-input-typography($typography);
@include mat-menu-typography($typography);
@include mat-progress-bar-typography($typography);
@include mat-radio-typography($typography);
@include mat-slide-toggle-typography($typography);
@include mat-slider-typography($typography);
@include mat-table-typography($typography);
@include mat-tabs-typography($typography);
