@import '@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include cdk-a11y();
@include mat-ripple();
@include mat-ripple-theme($theme);
@include mat-radio-theme($theme);
@include mat-radio-typography(mat-typography-config());
