@import '@angular/material/theming';
@import '@angular/material-experimental/mdc-theming/all-theme';

$mat-checkbox-primary: mat-palette($mat-indigo);
$mat-checkbox-accent: mat-palette($mat-pink, A200, A100, A400);
$mat-checkbox-theme: mat-light-theme($mat-checkbox-primary, $mat-checkbox-accent);

@include mat-mdc-form-field-theme($mat-checkbox-theme);
@include mat-mdc-form-field-typography(mat-typography-config());
